.header {
    padding: 100px; 
    text-align: center; 
    background: #101816; 
    color: rgb(255, 255, 255); 
  }
  
  .header h1 {
    font-size: 80px;
  }

.navbar {
    overflow: hidden; 
    background-color: #333; 
  }

  * {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .side {
    flex: 30%; 
    background-color: #f1f1f1; 
    padding: 20px; 
  }
  
  .main {
    flex: 70%; 
    background-color: white; 
  }

@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
  .navbar a {
    float: left; 
    display: block; 
    color: white; 
    text-align: center; 
    padding: 14px 20px; 
    text-decoration: none; 
  }

  .navbar a.right {
    float: right; 
  }
  
  .navbar a:hover {
    background-color: #ddd; 
    color: rgb(0, 0, 0); 
  }

  .footer {
    padding: 20px; 
    text-align: center; 
    background: rgb(255, 254, 254); 
  }